<h1>Display your Super Hero Teams here</h1>
<div class="Teams">
Team Name: <%= @team.name %><br>
Team Motto: <%= @team.motto %><br>
</div>



<h2>Display your first Super Hero here</h2>
<div class="SuperHeros">
Hero Name: <%= @hero_one.name %><br>
Hero Power: <%= @hero_one.power %><br>
Hero Biography: <%= @hero_one.bio %><br>


<h2>Display your second Super Hero here</h2>

Hero Name: <%= @hero_two.name %><br>
Hero Power: <%= @hero_two.power %><br>
Hero Biography: <%= @hero_two.bio %><br>

<h2>Display your third Super Hero here</h2>

Hero Name: <%= @hero_three.name %><br>
Hero Power: <%= @hero_three.power %><br>
Hero Biography: <%= @hero_three.bio %><br>



</div>